<script type="text/javascript">
function del(){
if(!confirm("确认要删除？")){
window.event.returnValue = false;
}
}</script>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                {% if post.author.real_avatar %}
                <img class="img-rounded profile-thumbnail" src="{{ post.author.real_avatar}}" height="40" width="40">
                {% else %}
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                {% endif %}
            </a>
        </div>
        <div class="post-content" >


            <div class="post-body">
                {% if post.title %}
                    <a class="item_title" href="{{ url_for('.post', id=post.id) }}">
                        {{ post.title }}
                    </a>
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="sep5"></div>
            <div class="post-footer">
                <span class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></span>
                <span>发表于 {{ str(post.timestamp)[:-3] }}</span>
                <!--<a href="{{ url_for('.post', id=post.id) }}">
                    <span>文章页</span>
                </a>-->
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span>评论({{ post.comments.count() }})</span>
                </a>
                {% if current_user == post.author %}
                {% if 'edit' in show_tags %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span>编辑</span>
                </a>
                {% endif %}
                {% if 'delete' in show_tags %}
                <a href="{{ url_for('.delete', id=post.id) }}" onclick="return del()">
                    <span>删除</span>
                </a>
                {% endif %}
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span>编辑[Ad]</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>